# Rust
/target/
*.snap
/wtime

# Nix
/.direnv/
/result
/lefthook.yml

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Editor backups
*~
\#*\#
.*.swp

# Agentic
.claude/

# This application
.walltime.jsonl
